*.la
*.lo
*.ncb
*.o
*.pyc
*.suo
*.vcproj.*.user
*.sw?
.deps
.idea
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
py-compile
stamp-h1
test-driver
ovirt-guest-agent/ovirt-guest-agent
ovirt-guest-agent/ovirt-guest-agent.upstart.conf
ovirt-guest-agent-*.tar.bz2
