*.la
*.lo
*.ncb
*.o
*.pyc
*.suo
*.vcproj.*.user
.deps
.idea
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ovirt-guest-agent/ovirt-guest-agent
ovirt-guest-agent/ovirt-guest-agent.upstart.conf
