*.la
*.lo
*.o
*.pyc
*.ncb
*.suo
*.vcproj.*.user
.deps
.libs
autom4te.cache/
aclocal.m4
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
